<%- include('../partials/header') %>
    <main class="main" id="main">
        <div class="container text-center">
            We have a BUNCH of info about  Movies here!!! 
        </div>
    </main>

<%- include('../partials/footer') %>