<%- include('../partials/header') %>
<main class="main" id="main">
    <div class="container">
        <h2 class="text-center text-capitalize">
            add an movie
        </h2>
        <form action="http://localhost:3000/api/movie/create" method="post" class="post" id="movieform">
            <div class="row mb-3">
                <label for="title" class="form-label">
                    title
                </label>
                <input type="text" name="title" id="title" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit" role="button">ADD MOVIE</button>
        </form>
    </div>
</main>
<%- include('../partials/footer') %>